header.header 
    .container 
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href='/') 
                        img(src='/images/apple-logo.svg' alt='logo' width='50' height=auto)
            .col-9
                .inner-menu 
                    ul 
                        li 
                            a(href='/') Home page
                        li 
                            a(href='/products') Product page