/* header */

.header {
  background: #202020;
  padding: 10px 0;
  top: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
}

.header
  .inner-logo
  a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

/* end header */

/* body */

.body {
  margin-top: 50px;
  display: flex;
}

.body .sider {
  width: 150px;
  background: #100a0a;
  color: #fff;
  height: calc(
    100vh - 50px
  );
  position: fixed;
  top: 50px;
  left: 0;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(
    100% - 150px
  );
}

/* end body */

/* sider */

.sider {
  margin-top: 5px;
}

.sider
  .inner-menu
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider
  .inner-menu
  ul
  li
  a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px
    solid #5d5858;
}

/* end sider */

/* change multi status */

.d-flex.align-items-start {
  display: flex;
  align-items: start;
  gap: 1rem;
  /* Adjust the gap between form elements as needed */
}

.d-flex.align-items-start
  .form-group {
  margin-bottom: 1rem;
  /* Adjust the margin as needed */
}

.d-flex.align-items-start
  .form-select,
.d-flex.align-items-start
  .form-control {
  width: 100%;
  /* Make the select and input elements take full width */
}

.d-flex.align-items-start
  .btn-primary {
  align-self: flex-start;
  /* Align the button to the start */
}

/* end change multi status */

/* adjust position */

.btn-group-vertical.position-adjuster {
  display: flex;
  flex-direction: column;
  border: 1px solid
    #ced4da;
  border-radius: 5px;
  overflow: hidden;
}

.btn-group-vertical
  .btn.btn-sm.btn-secondary {
  background-color: white;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 0px;
}

.btn-group-vertical
  .btn.btn-sm.btn-secondary:not(
    :last-child
  ) {
  border-bottom: 1px
    solid #ced4da;
}

.btn-group-vertical
  .btn.btn-sm.btn-secondary.position-indicator {
  font-weight: bold;
}

.btn-group-vertical
  .btn.btn-sm.btn-secondary:hover {
  background-color: #f8f9fa;
}

/* end adjust position */

/* Alerts */
#alert-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; /* Ensure it is above other elements */
}

.alert-hidden {
  opacity: 0;
  transition: opacity
    0.5s ease-out;
}

[close-alert] {
    cursor: pointer;
    font-weight: bold;
    color: #000;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    text-align: center;
}
/* End alerts  */


/* Close preview image button */
[image-preview-container] {
    position: relative;
    width: auto;
    height: 230px;
    background-color: transparent;
}

[image-preview-container] img {
    width: auto;
    height: 230;
    object-fit: cover;
}
[btn-close-preview-img] {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
}
[btn-close-preview-img] span {
    display: block;
    width: 20px;
    height: 20px;
    background: url('https://cdn-icons-png.flaticon.com/512/106/106830.png') no-repeat center center;
    background-size: cover;
}
/* End close preview image button */