mixin sort
    div(sort)
        select(
            class='form-select'
            name='sort'
            sort-select
        )
            option(disabled selected) Sort by
            option(value='position-asc') Ascending position
            option(value='position-desc') Descending position
            option(value='price-asc') Ascending price
            option(value='price-desc') Descending price
            option(value='title-asc') Title A-Z
            option(value='title-desc') Title Z-A
        
        button(
            class='btn btn-danger mt-2'
            sort-clear
        ) Clear